@charset "utf-8";
/* CSS Document */
table
{
	border:1px solid black;
}
	
	<style>
        table,th,td{
            border-collapse:collapse;
            border: 1px solid black;
        }
        table{
            width:600px;
            height:400px;
        }
           
		#selected{
			text-align:center;
			margin-left:auto;
			margin-right:auto;
			background-color:#039;
		}
		#wrapper{
			text-align:center;
			margin-left:auto;
			margin-right:auto;
		}
		table{
			margin-left:auto;
			margin-right:auto;
		}
		.selected{
			font-weight:bold;
		}
    </style>

